.blogpostContainer{
    width: 70%;
     
}
.blogheader{
text-align: center;
}
.blogCategory{
    display: block;
    font-size: 12px;
    padding: 7px 0;
}
.postedBy{
    font-size: 13px;
    font-style: italic;
    padding: 7px 0;
    display: block;
}
.postTitle{
    letter-spacing: 0.4px;
    text-transform: capitalize;
    font-size: 20px; 
    margin: 4px;
    font-weight: 100;
}
.postImageContainer{
    max-width: 100%;
    padding: 5px;
    box-sizing: border-box;
}
.postImageContainer img{
    max-width: 100%;
    max-height: 100%;
}